html {
  font-family: $fuente_principal;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: $negro;
  color: $blanco;
  padding: 20px;

  @include breakpoint(tablet) {
    padding: 30px;
  }

  @include breakpoint(desktop) {
    padding-left: 165px;
    padding-right: 165px;
  }
}
