main {
  section.primera_seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    img.hombre_mobile {
      width: 80%;
      margin-top: -30%;
      z-index: 9;
      position: relative;
      max-width: 400px;

      @include breakpoint(tablet) {
        position: absolute;
        top: -150px;
        right: -30px;
        margin-top: 0;
        width: 40%;
        max-width: 500px;
      }

      @include breakpoint(desktop) {
        position: absolute;
        top: -400px;
        right: -30px;
        margin-top: 0;
        width: 40%;
        max-width: 500px;
      }
    }
    img.elipse_desktop {
      display: none;

      @include breakpoint(desktop) {
        display: block;
        position: absolute;
        top: 10%;
        width: 50%;
        max-width: 100%;
        right: 70%;
        z-index: 8;
      }
    }

    img.elipses {
      position: absolute;
      width: 70%;
      max-width: 100%;
      top: 15%;
      right: 60%;
      z-index: 8;

      @include breakpoint(tablet) {
        width: 50%;
        top: 5%;
        right: 70%;
      }

      @include breakpoint(desktop) {
        display: none;
      }
    }

    img.circulo_desktop {
      display: none;

      @include breakpoint(desktop) {
        display: block;
        position: absolute;
        top: 55%;
        right: 25%;
        width: 10%;
        max-width: 100%;
        z-index: 9;
      }
    }

    img.circulo {
      position: absolute;
      top: 35%;
      right: -7%;
      width: 20%;
      max-width: 100%;
      z-index: 9;

      @include breakpoint(tablet) {
        width: 10%;
        max-width: 100%;
        top: 400px;
        right: -4%;
        z-index: 9;
      }

      @include breakpoint(desktop) {
        display: none;
      }
    }

    div.presentacion {
      margin-top: 40px;
      @include breakpoint(tablet) {
        margin-top: 90px;
      }

      h1 {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;

        span {
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-color: $esmeralda;
          text-decoration-thickness: 5px;
        }

        @include breakpoint(tablet) {
          font-size: 72px;
          max-width: 60%;
        }

        @include breakpoint(desktop) {
          font-size: 88px;
          max-width: 60%;
        }
      }

      p {
        font-size: 16px;
        color: $gris-claro;
        margin-bottom: 24px;
        text-align: center;

        @include breakpoint(tablet) {
          font-size: 20px;
          max-width: 50%;
          text-align: left;
          margin-bottom: 34px;
          margin-top: 60px;
        }

        @include breakpoint(desktop) {
          font-size: 24px;
          max-width: 50%;
          text-align: left;
          margin-bottom: 70px;
          margin-top: 70px;
        }
      }
      div.boton1 {
        display: flex;
        justify-content: center;
        button {
          @include boton_defecto;
        }

        @include breakpoint(tablet) {
          font-size: 16px;
          text-align: left;
          justify-content: left;
          margin-bottom: 60px;
        }

        @include breakpoint(desktop) {
          font-size: 16px;
          text-align: left;
          justify-content: left;
          margin-bottom: 220px;
        }
      }
    }
  }

  section.segunda_seccion {
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 16px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    text-align: center;
    position: relative;

    @include breakpoint(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 50px;
    }

    @include breakpoint(desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 58px;
    }

    h2 {
      font-size: 32px;
      font-weight: bold;

      @include breakpoint(tablet) {
        font-size: 48px;
      }
    }
    p {
      font-size: 16px;
      color: $gris-claro;
      margin-bottom: 24px;

      @include breakpoint(tablet) {
        font-size: 18px;
      }
    }
    div.elipses2 {
      position: absolute;
      transform: rotate(180deg);
      top: 90%;
      right: -10%;
      img {
        max-width: 100%;
        width: 100%;
      }

      @include breakpoint(tablet) {
        top: 60%;
        width: 40%;
      }

      @include breakpoint(desktop) {
        display: none;
      }
    }
    img.elipses_desktop {
      display: none;

      @include breakpoint(desktop) {
        display: block;
        position: absolute;
        transform: rotate(180deg);
        top: 70%;
        right: -20%;
        max-width: 100%;
        width: 40%;
      }
    }
  }

  section.tercera_seccion {
    margin-top: 80px;

    @include breakpoint(tablet) {
      margin-top: 120px;
    }

    @include breakpoint(desktop) {
      margin-top: 150px;
    }

    div.titulo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 71px;
      margin-bottom: 40px;

      @include breakpoint(tablet) {
        margin-bottom: 60px;
      }

      @include breakpoint(desktop) {
        margin-bottom: 90px;
      }

      h2 {
        font-size: 40px;
        font-weight: bold;

        @include breakpoint(tablet) {
          font-size: 72px;
        }

        @include breakpoint(desktop) {
          font-size: 90px;
        }
      }

      button {
        @include boton_defecto;
      }
    }
    div.articulos {
      @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 22px;
      }

      @include breakpoint(desktop) {
        display: none;
      }

      article {
        img {
          max-width: 100%;
          width: 100%;
        }

        h3 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 7px;
          margin-top: 20px;
        }

        div.pes {
          display: flex;
          gap: 18px;

          p {
            color: $gris-claro;
            font-size: 18px;
          }
        }

        div.botones1 {
          margin-top: 20px;
          display: flex;
          gap: 30px;

          button {
            @include boton_defecto;
            margin-bottom: 40px;
          }
        }
      }
    }

    div.articulos_desktop {
      display: none;

      @include breakpoint(desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 70px;
        column-gap: 30px;

        article {
          .hover {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            aspect-ratio: 16 / 10;
            overflow: hidden;

            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.3s ease;
            }

            a {
              opacity: 0;
              pointer-events: none;
              position: absolute;
              z-index: 2;
              color: white;
              text-decoration: none;
              font-weight: bold;
              border-bottom: 2px solid $esmeralda;
              padding: 10px 0;
              transition:
                opacity 0.3s,
                color 0.3s,
                transform 0.3s;
              top: 50%;
              left: 50%;

              &:nth-of-type(1) {
                transform: translate(-50%, calc(-80% - 50px));
              }
              &:nth-of-type(2) {
                transform: translate(-50%, calc(-80% + 50px));
              }

              &:hover {
                color: $esmeralda;
              }
            }

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.7);
              opacity: 0;
              transition: opacity 0.3s;
              z-index: 1;
            }

            &:hover {
              &::after {
                opacity: 1;
              }

              a {
                opacity: 1;
                pointer-events: auto;
              }

              img {
                transform: scale(1.05);
              }
            }
          }

          h3 {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 30px;
          }

          div.pes {
            display: flex;
            gap: 20px;
            p {
              font-size: 20px;
              color: $gris-claro;
            }
          }
        }
      }
    }
  }
}
