main {
  section.primera_seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    img.hombre_mobile {
      width: 80%;
      margin-top: -30%;
      z-index: 9;
      position: relative;
      max-width: 400px;
    }

    img.elipses {
      position: absolute;
      top: 15%;
      right: 60%;
      z-index: 8;
    }

    img.circulo {
      position: absolute;
      top: 35%;
      right: -7%;
      width: 20%;
      max-width: 150px;
      z-index: 9;
    }

    div.presentacion {
      margin-top: 40px;

      h1 {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;

        span {
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-color: $esmeralda;
          text-decoration-thickness: 5px;
        }
      }

      p {
        font-size: 16px;
        color: $gris-claro;
        margin-bottom: 24px;
        text-align: center;
      }

      div.boton1 {
        display: flex;
        align-items: center;
        justify-content: center;

        div.boton_formulario {
          button {
            @include boton_defecto;
          }
        }
      }
    }
  }

  section.segunda_seccion {
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 16px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    text-align: center;
    position: relative;

    h2 {
      font-size: 32px;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      color: $gris-claro;
      margin-bottom: 24px;
    }
    div.elipses2 {
      position: absolute;
      transform: rotate(180deg);
      top: 90%;
      right: -10%;
    }
  }

  section.tercera_seccion {
    margin-top: 80px;

    div.titulo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 71px;
      margin-bottom: 40px;

      h2 {
        font-size: 40px;
        font-weight: bold;
      }

      button {
        @include boton_defecto;
      }
    }
    div.articulos {
      article {
        img {
          max-width: 100%;
          width: 100%;
        }

        h3 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 7px;
          margin-top: 20px;
        }

        div.pes {
          display: flex;
          gap: 18px;

          p {
            color: $gris-claro;
            font-size: 18px;
          }
        }

        div.botones1 {
          margin-top: 20px;
          display: flex;
          gap: 30px;

          button {
            @include boton_defecto;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
