footer {
  background-color: #242424;

  section.cuarta_seccion {
    border-bottom: 3px solid white;
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    position: relative;

    h2 {
      font-size: 62px;
      font-weight: bold;
      text-align: center;

      @include breakpoint(tablet) {
        font-size: 72px;
      }
    }
    p {
      text-align: center;
      color: $gris_claro;

      @include breakpoint(tablet) {
        font-size: 20px;
        margin-bottom: 48px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @include formulario_defecto;

      div.boton_formulario {
        display: flex;
        justify-content: end;

        button {
          @include boton_defecto;
        }
      }
    }
    div.elipses3 {
      position: absolute;
      width: 50%;
      max-width: 100%;
      top: 65%;
      right: 60%;

      img {
        width: 80%;
      }

      @include breakpoint(desktop){
        top: 25%;
        right: 70%;

        img {
          width: 60%;
        }
      }
    }
  }

  div.pie-pagina {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    div.iconos {
      display: flex;
      gap: 26px;

      img {
        &:hover {
          filter: invert(86%) sepia(21%) saturate(1067%) hue-rotate(97deg)
            brightness(701%) contrast(92%);
        }
      }
    }

    @include breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-between;
      padding: 30px;

      a img {
        width: 150%;
      }

      div.iconos {
        gap: 32px;
      }
    }
  }

  @include breakpoint(desktop){
    margin-top: 140px;

    section.cuarta_seccion{
      display: grid;
      grid-template-columns: 1fr 1fr;

      h2{
        font-size: 90px;
        text-align: left;
      }
      p{
        font-size: 20px;
        color: $gris_claro;
        text-align: left;
        width: 60%;
        margin-top: 40px;
      }
    }
    
  }
}
