footer {
  background-color: #242424;

  section.cuarta_seccion {
    border-bottom: 3px solid white;
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    position: relative;

    h2 {
      font-size: 62px;
      font-weight: bold;
      text-align: center;

      @include breakpoint(tablet) {
        font-size: 72px;
      }
    }
    p {
      text-align: center;
      color: $gris_claro;

      @include breakpoint(tablet) {
        font-size: 20px;
        margin-bottom: 48px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @include formulario_defecto;

      div.boton_formulario {
        display: flex;
        justify-content: end;

        button {
          @include boton_defecto;
        }
      }
    }
    div.elipses3 {
      position: absolute;
      width: 50%;
      max-width: 100%;
      top: 65%;
      right: 60%;

      img{
        width: 80%;
      }
    }
  }

  div.pie-pagina {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    div.iconos {
      display: flex;
      gap: 26px;
    }

    @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;

    a img {
      width: 150%;
    }

    div.iconos {
      gap: 32px;
    }
  }
  }
}
