header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;

  a {
    margin-bottom: 20px;

    img {
      &:hover {
        filter: invert(86%) sepia(21%) saturate(1067%) hue-rotate(97deg)
          brightness(701%) contrast(92%);
      }
    }
  }

  div.iconos {
    display: flex;
    gap: 25px;
  }

  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;

    a img {
      width: 150%;
    }

    div.iconos {
      gap: 32px;
    }
  }

  @include breakpoint(desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding: 43px 165px;

    a img {
      width: 150%;
    }

    div.iconos {
      gap: 32px;
    }
  }
}
